In [123]:
import pandas as pd
import math
import numpy as np
import csv

In [124]:
def magnitude(user_id):
    x2 = user_id['xAxis'] * user_id['xAxis']
    y2 = user_id['yAxis'] * user_id['yAxis']
    z2 = user_id['zAxis'] * user_id['zAxis']
    m2 = x2 + y2 + z2
    m = m2.apply(lambda x: math.sqrt(x))
    return m

In [125]:
def window(axis,dx=100):
    start = 0
    size = axis.count()

    while (start < size):
        end = start + dx
        yield start,end
        start = start+int (dx/2)

In [126]:
def window_summary(axis, start, end):
    return [
        axis[start:end],
    ]

In [127]:
def features(user_id):
    for (start, end) in window(user_id['timestamp']):
        features = []
        for axis in ['xAxis', 'yAxis', 'zAxis', 'magnitude']:
            features += window_summary(user_id[axis], start, end)
        yield features

In [128]:
def calc_magnitudes():
    for i in range (1,6):
        user_list[i-1]['magnitude'] = magnitude(user_list[i-1])

In [129]:
COLUMNS = ['timestamp', 'xAxis', 'yAxis', 'zAxis']
user_list = []
titles_list=[]
user_to_auth = 0

for i in range (1,6):
    file_path = 'Dataset/'+str(i)+'.csv'
    user_list.append((pd.read_csv(file_path,header=None,names=COLUMNS,nrows=300)))

#Add an additional axis of magnitude of the sensor data
calc_magnitudes()

In [130]:
user_list[0].head()

   timestamp   xAxis   yAxis   zAxis  magnitude
0     30.551 -3.7592  12.980 -2.1793  13.688000
1     30.580 -5.5571  13.484 -2.7513  14.841471
2     30.610 -6.1700  12.681 -2.4108  14.306943
3     30.640 -4.3313   9.507 -2.6832  10.786231
4     30.670 -4.0180   9.003 -4.0997  10.677353

In [131]:
def insert_row(userlist):
    for a,b,c,d,e in userlist.itertuples(index=False):
        yield a,b,c,d,e

In [132]:
with open('Features.csv', 'w+') as out:
    rows = csv.writer(out)
    for i in range(0, len(user_list)):
        for a,b,c,d,e in user_list[i].itertuples(index=False):
            rows.writerow([i+1]+[a]+[b]+[c]+[d]+[e])